@page
@model PhoneCalls_5.Pages.Persons.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persons</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.first_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.first_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.second_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.second_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.phone_number)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Persons.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
