@page
@model PhoneCalls_5.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persons</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.first_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.first_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.second_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.second_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persons.phone_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persons.phone_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Persons.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
