@page
@model PhoneCalls_5.Pages.Addresses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.house_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.house_number)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Address.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
