@page
@model PhoneCalls_5.Pages.Calls.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Calls</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calls.date_of_calls)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calls.date_of_calls)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calls.duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calls.duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Calls.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
